<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文档</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <div class="login-wrapper">
            <div class="left-img">
                <div class="glass">
                    <div class="tips">
                        <div class="title">
                            抚州幼儿师范高等专科学校AI系统
                        </div>
                        <h1>探索AI</h1>
                        <span>期待您的加入</span>
                        <span>我们持续更新中</span>
                    </div>
                </div>
            </div>

            <div class="right-login-form">
                <form class="form-wrapper" id="login-form" name="login-form">
                    <h1>抚州幼儿师范高等专科学校AI系统</h1>
                    <div class="input-items">
                        <span class="input-tips">
                            帐号
                        </span>
                        <input type="text" id="username" class="inputs" placeholder="输入你的账号">
                    </div>
                    <div class="input-items">
                        <span class="input-tips">
                            密码
                        </span>
                        <input type="password" id="password" class="inputs" placeholder="输入你的密码">
                        <span class="forgot">忘记密码</span>

                    </div>
                    <button class="btn" id="submit" type="submit">登陆</button>
                    <div class="siginup-tips">
                        <span>还有没有账号?</span>
                        <span id="register-link">点击注册</span>
                    </div>
                    <div class="other-login">
                        <div class="divider">
                            <span class="line"></span>
                            <span class="divider-text">或</span>
                            <span class="line"></span>
                        </div>
                        <div class="other-login-wrapper">
                            <div class="other-login-item">
                                <img src="../static/asset/QQ.png" alt="QQ">
                            </div>
                            <div class="other-login-item">
                                <img src="../static/asset/WeChat.png" alt="微信">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
    // 获取点击注册元素的引用
    var registerLink = document.getElementById("register-link");

    // 添加点击事件监听器
    registerLink.addEventListener("click", function() {
        // 跳转到注册页面
        location.href = "/register";
    });
</script>
<script>
    // 使用 JavaScript 提交登录表单
    document.getElementById("login-form").addEventListener("submit", function (event) {
        event.preventDefault();  // 阻止表单默认提交行为
        // 获取表单中的用户名和密码
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        // 使用 AJAX 发送登录请求
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/login", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.result === "success") {
                        // 登录成功，重载页面
                        location.reload();
                    } else {
                        // 登录失败，显示错误消息
                        alert("登录失败,请检查你的用户名和密码!");
                    }
                } else {
                    // 请求失败，显示错误消息
                    alert("登录失败,请检查你的用户名和密码!");
                }
            }
        };
        xhr.send("username=" + encodeURIComponent(username) + "&password=" + encodeURIComponent(password));
    });
</script>
</body>
</html>
